@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}
.main {
  position: relative;
  margin: auto;
}
.main .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.main .header nav {
  position: relative;
  margin: auto;
}
.sidebar {
  background: white;
  font-size: 0.65em;
  float: left;
}
.nav-side-bar {
  position: sticky;
  top: 73px;
  font-weight: bold;
  max-width: 500px;
  transition: max-width 300ms;
}
.nav-side-bar ul {
  list-style: none;
  width: max-content;
  padding-left: 0;
}
.nav-side-bar ul li {
  position: relative;
  margin: 2.2em 0;
}
.nav-side-bar ul li a {
  line-height: 2em;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: rgba(34, 49, 63, 0.3);
  display: block;
  transition: all ease-out 300ms;
  font-family: "Lobster", cursive;
  font-size: 150%;
  padding-left: 10px;
  padding-right: 3rem;
}
.nav-side-bar ul li.active a {
  color: #263238;
  font-size: 180%;
  border-right: 3px solid rgba(34, 49, 63, 0.3);
}
.nav-side-bar ul li:not(.active)::after {
  opacity: 0.2;
}
.nav-side-bar ul li:not(.active):hover a {
  color: rgba(34, 49, 63, 0.9);
}
.content {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: max-content;
  margin: auto;
}
.content .content-body {
  top: 53px;
  float: right;
  width: 100%;
}
.content .content-body .child {
  overflow: hidden;
  padding: 1rem;
  padding-top: 63px;
}
.logo {
  font-family: "Lobster", cursive;
  display: flex;
  align-items: center;
}
.logo #st {
  text-align: center;
  border-radius: 5px;
  background-color: #263238;
  color: white;
  font-size: 15px;
  padding: 0px 6px;
}
.logo #st-prefix {
  font-size: 25px;
  color: #263238;
}
.name-logo {
  font-family: "Lobster", cursive;
  font-size: 15px;
  font-style: italic;
}
.about-us h6 {
  font-family: "Lobster", cursive;
  font-size: 15px;
  color: #263238;
}
.about-us p {
  font-size: 12px;
  color: #263238;
  margin-bottom: 0;
}
.about-us .phone {
  font-size: 15px;
  color: #263238;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-weight: bold;
}
.about-us .address {
  font-size: 15px;
  color: #263238;
  margin-bottom: 0;
  line-height: 1;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .nav-side-bar {
    max-width: 0px;
  }
}
